.navBarContainer {
  background-color: #323436;
  height: 60px;
  width: 100vw;
}

.logo {
  height: 50px;
}

.logoContainer {
  display: flex !important;
  justify-content: center;
}

.menu {
  background-color: #323436;
}
